

<div class="container mt-5">
  <div class="form-area">
      <form [formGroup]='form'>
        <div class="form-group">
          <label>Full Name</label>
          <input 
           type="text"
           placeholder="Full Name" 
           class="form-control"
           name="fullName"
           formControlName='fullName'>

           <div class="alert alert-danger" *ngIf= "fullName.touched && fullName.invalid" >

            <div *ngIf="fullName.errors?.required ">The Full Name is required</div>
            <div *ngIf="fullName.errors?.minLength ">The Full Name must be at least 5</div>
      

           </div>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input 
          type="email"
          placeholder="email" 
          class="form-control"
          name="email"
          formControlName='email'
          >

          <div class="alert alert-danger" *ngIf= "Email.touched && Email.invalid" >

            <div *ngIf="Email.errors?.required ">The Email is required</div>
            <div *ngIf="Email.errors?.email ">Invalid Email...</div>

           </div>
        </div>
        <div class="form-group">
          <label>Address</label>
          <textarea 
          cols="30" 
          rows="10" 
          placeholder="Address" 
          class="form-control"
          formControlName='address'></textarea>
          <div class="alert alert-danger" *ngIf= "Address.touched && Email.invalid" >

            <div *ngIf="Address.errors?.required ">The Address is required</div>

           </div>
        </div>
          <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
</div>
